CloudHarvestCoreTasks @ git+https://github.com/Cloud-Harvest/CloudHarvestCoreTasks.git@0.6.6
PyYAML
cmd2
gnureadline
flatten-json
natsort
pandas
requests
rich
rich-argparse
setuptools
pytest
toml
urllib3
